.ui.padded.grid
  .column
    %h1 Room View
    %table.ui.celled.striped.blue.table
      %thead
        %tr
          %th Room
          - ((Date.today)...(Date.today + 15)).each do |date|
            %th= date.strftime("%-d %B %Y")
      %tbody
        - @rooms.each do |room|
          %tr
            %td= room.number
            - ((Date.today)...(Date.today + 15)).each do |date|
              - if room.is_ready_on_date(date)
                %td.positive
              - else
                %td.negative.center.aligned= semantic_icon("close")
